.auth-container {
  height: 100vh;
  width: 100%;
  background: transparent;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: "Poppins", sans-serif;
  color: white;
}

.auth-box {
  background: rgba(255, 255, 255, 0.05);
  padding: 70px 80px;
  width: 480px;
  border-radius: 15px;
  backdrop-filter: blur(10px);
  border: 1px solid rgba(255, 255, 255, 0.1);
  box-shadow: 0 0 25px rgba(128, 90, 255, 0.4);
  text-align: center;
}

.auth-box h2 {
  font-size: 32px;
  font-weight: 700;

  color: white;
}

.subtitle {
  font-size: 14px;
  color: #cccccc;
  margin-bottom: 25px;
}

.auth-input {
  width: 100%;
  padding: 12px;
  margin-bottom: 15px;
  background: transparent;
  border: 2px solid #6a4cfc;
  border-radius: 10px;
  color: white;
  outline: none;
  font-size: 15px;
  transition: 0.3s;
}

.auth-input:focus {
  box-shadow: 0 0 15px #6a4cfc, 0 0 25px #6a4cfc;
  transform: scale(1.02);
}

.auth-btn {
  width: 100%;
  padding: 12px;
  background: #6a4cfc;
  border: none;
  border-radius: 10px;
  color: white;
  font-size: 18px;
  font-weight: 700;
  cursor: pointer;
  box-shadow: 0 0 15px #6a4cfc;
  transition: 0.3s;
}

.auth-btn:hover {
  transform: scale(1.05);
  box-shadow: 0 0 25px #6a4cfc;
}

.switch {
  margin-top: 15px;
  font-size: 14px;
}

.switch a {
  color: #a892ff;
  font-weight: 600;
  text-decoration: none;
}

.switch a:hover {
  text-shadow: 0 0 8px #6a4cfc;
}
.auth-logo {
  display: flex;
  justify-content: center;
  margin-bottom: 1rem;
}

.auth-logo img {
  width: 120px;
  height: auto;
  filter: drop-shadow(0 0 8px rgba(255, 255, 255, 0.4));
}
